@{
    ViewData["Title"] = "Platform Landing Page";
}
<partial name="_Header" />
<partial name="_FilterMission" />

<div class="container pt-3 landingContent">

    <div class="d-flex justify-content-between">
        <h2>Explore <b>72 missions</b></h2>

        <div class="d-flex align-item-center">

            <div class="border col data-toggle d-flex flex-wrap align-content-center" >
                <div class="d-flex" style="width:80px;">
                    <a class="nav-link d-flex toggle-subheading link-dark text-decoration-none" data-bs-toggle="dropdown">
                        Sort by <div class="me-0 align-self-center"><img src="~/images/drop-down.png" alt=""></div>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#">Newest</a></li>
                        <li><a class="dropdown-item" href="#">Oldest</a></li>
                        <li><a class="dropdown-item" href="#">Lowest available seats</a></li>
                        <li><a class="dropdown-item" href="#">Highest available seats</a></li>
                        <li><a class="dropdown-item" href="#">Sort by my favourites</a></li>
                        <li><a class="dropdown-item" href="#">Sort by deadline</a></li>
                    </ul>
                </div>

            </div>
            <img src="~/images/grid.png" class="view rounded-circle" id="grid" onclick="gridview()"
                 alt="not load" style="object-fit:scale-down;" />
            <img src="~/images/list.png" class="view " id="list" onclick="listview()"
                 alt="not load" style="object-fit:scale-down;" />

        </div>
    </div>

    <div class="row ">

        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Toronto</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">Tree Canada</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                10 <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Melbourn</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Children</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Education supplies for Every Pair of Shoes Sold
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">Australian Paradise</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                250 <p>Already Volunteered</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Barcelona</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Nutrition</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Nourish the Children in African country
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">The Hunger</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">Ongoing Oppertunity</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                10 <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">London</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        CSR initiative stands for Coffee and Farmer Equity
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">CSE Network</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">Ongoing Oppertunity</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                250 <p>Already Volunteered</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/Animal-welfare-&-save-birds-campaign.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Cape Town</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Animals</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Animal welfare & save birds campaign
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">JR Foundation</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">Plant 10000 Trees</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                10 <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/achieved.png" alt="">
                            <span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: 40%; background: orange" aria-valuenow="25" aria-valuemin="0"
                                         aria-valuemax="100"></div>
                                </div>
                                <p>8000 achieved</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Sydney</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Children</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Education Supplies for Every Pair of Shoes Sold
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">Tree Canada</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                250 <p>Already Volunteered</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Berlin</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Nutrition</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Nourish the Children in African country
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">Junior Charity</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">Ongoing Oppertunity</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                10 <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<nav aria-label="Page navigation example" class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" tabindex="-1"><img src="~/images/previous.png" alt="not load" /></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" tabindex="-1"><img src="~/images/left.png" alt="not load" /></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#"><img src="~/images/right-arrow1.png" alt="not load" /></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#"><img src="~/images/next.png" alt="not load" /></a>
        </li>
    </ul>
</nav>




