@{
    ViewData["Title"] = "volunteering ";
}
<partial name="_Header" />

  <!-- main part 1 -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mp1_right_side d-flex offset-1 flex-column mt-5">

            <swiper-container style="
              --swiper-navigation-color: #fff;
              --swiper-pagination-color: #fff;
              height: 50vh;
            "
                              class="mySwiper"
                              thumbs-swiper=".mySwiper2"
                              space-between="10"
                              navigation="true">
                <swiper-slide>
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/Nourish-the-Children-in--African-country-1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/image1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/img1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/img11.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/Plantation-and-Afforestation-programme.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/Animal-welfare-&-save-birds-campaign-1.png" alt="">
                </swiper-slide>
            </swiper-container>

            <swiper-container style="height: 15vh;"
                              class="mySwiper2"
                              space-between="10"
                              slides-per-view="4"
                              free-mode="true"
                              watch-slides-progress="true">
                <swiper-slide>
                    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/Nourish-the-Children-in--African-country-1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/image1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/img1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/img11.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/Plantation-and-Afforestation-programme-1.png" alt="">
                </swiper-slide>
                <swiper-slide>
                    <img src="~/images/Animal-welfare-&-save-birds-campaign-1.png" alt="">
                </swiper-slide>
            </swiper-container>
        </div>
        <!-- part2 -->
        <div class="col-xl-6 col-lg-6 col-md-6 mt-5 mp1_p2 d-flex flex-column">
            <div class="mt-4 mp1_p2_title">
                <p>CSR initiative stands for Coffee & Farmer Equity</p>
            </div>
            <div class="mp1_p2_sortdes">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit, at. Temporibus
                reiciendis dolores officiis blanditiis reprehenderit? Quos voluptatibus et est consequuntur blanditiis
                cupiditate, id ipsum.
            </div>
            <div>
                <div class="cardAction mt-4">
                    <span class="text-wrap border p-1 rounded-pill subAction d-flex justify-content-center offset-5 "
                          style="background-color: white; color: #757575; ">
                        Plant 10,000 Trees
                    </span>
                </div>
                <hr style=" z-index:-12;">
            </div>
            <div class="special-1 d-flex align-items-center justify-content-center gap-5">
                <div class="d-flex gap-3 mp1_p2_left w-25">
                    <img src="~/images/Seats-left.png" class="mp1_p2_left_img mt-2" alt="">
                    <div class="d-flex flex-column">
                        <span>10</span>
                        <span>Seats left</span>
                    </div>
                </div>
                <div class="d-flex gap-3 mp1_p2_achieved w-25">
                    <img src="~/images/achieved.png" class="mp1_p2_achieved_img mt-2" alt="">
                    <div class="d-flex flex-column ">
                        <div>
                            <span class="progress mb-1" style="height: 10px; margin-top: 8px; width: 7vw;">

                                <span class="progress-bar progress-bar-color" role="progressbar" aria-label="Basic example"
                                      style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="75">
                                </span>
                            </span>
                        </div>
                        <div class="special-2">8000 achieved</div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex align-items-center justify-content-center gap-5 addfav_rec">
                <div class="d-flex align-items-center justify-content-center rounded-pill gap-2 mt-3 mp1_p2_addfav">
                    <img src="~/images/heart1.png" class="mp1_p2_addfav_img mt-1 mt-1 pb-1" alt="">
                    <span class="mt-1">Add to favourite</span>
                </div>
                <div class="d-flex align-items-center justify-content-center rounded-pill gap-2 mt-3 mp1_p2_recommend">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-square-fill"
                         viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
                    </svg></i>
                    <span class="mt-1">Recommend to a Co-Worker</span>
                </div>
            </div>
            <div>
                <div>
                    <div class="cardAction mt-3">
                        <span class="text-wrap p-1 subAction d-flex justify-content-center offset-5 "
                              style="background-color: white; color: #757575; ">
                            <div class="my-rating">
                                <div class="starRating">
                                    <i class=" bi bi-star-fill text-black-50 "></i>
                                    <i class=" bi bi-star-fill text-black-50 "></i>
                                    <i class=" bi bi-star-fill text-black-50 "></i>
                                    <i class=" bi bi-star-fill text-black-50 "></i>
                                    <i class=" bi bi-star-fill text-black-50 "></i>
                                </div>
                            </div>
                        </span>
                    </div>
                    <hr style=" z-index:-12;">
                    <script>
                        $(".my-rating").starRating({
                          initialRating: 2,
                          strokeColor: '#894A00',
                          strokeWidth: 10,
                          starSize: 25
                        });
                    </script>
                </div>
            </div>
            <div class="d-flex gap-2 mt-2 mp1_p2_des">
                <div class="mp1_p2_details px-2 pt-2">
                    <img src="~/images/pin1.png" alt="">
                    <div class="mt-4 mp1_p2_details_title">city</div>
                    <div class="mp1_p2_details_text">London</div>
                </div>
                <div class="mp1_p2_details px-2 pt-2">
                    <img src="~/images/web.png" alt="">
                    <div class="mt-4 mp1_p2_details_title">Theme</div>
                    <div class="mp1_p2_details_text">Environment</div>
                </div>
                <div class="mp1_p2_details px-2 pt-2">
                    <img src="~/images/calender.png" alt="">
                    <div class="mt-4 mp1_p2_details_title">Date</div>
                    <div class="mp1_p2_details_text">Ongoing Opportunity</div>
                </div>
                <div class="mp1_p2_details px-2 pt-2">
                    <img src="~/images/organization.png" alt="">
                    <div class="mt-4 mp1_p2_details_title">Organization</div>
                    <div class="mp1_p2_details_text">CES Network</div>
                </div>
            </div>
            <div class="apply mt-5 d-flex p-2 justify-content-center align-items-center">
                <button class="mt-2 apply_btn rounded-pill">Apply Now <img src="~/images/right-arrow.png" alt=""></button>
            </div>
        </div>
        <!-- end part 2 -->
    </div>
</div>
<!-- end main part 1 -->
<!-- main part-2 -->
<div class="container-fluid mt-5 mp2_vm">
    <div class="row">
        <!-- main part-2 part-1 -->
        <div class="col-xl-6 col-lg-6 col-md-6 mp2_right_side d-flex offset-1 flex-column mt-5">
            <ul class="nav nav-tabs design_tab" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active " id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                            role="tab" aria-controls="home" aria-selected="true">
                        Mission
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                            role="tab" aria-controls="profile" aria-selected="false">
                        Organization
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                            role="tab" aria-controls="contact" aria-selected="false">
                        Comments
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="mp2_p1_tab_mission_title">Intoduction</div>
                    <div class="mp2_p1_tab_mission_des mt-3">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa nisi quia consequuntur, ea magnam
                            similique ab obcaecati minima vitae eveniet beatae maiores quae necessitatibus fuga fugit.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, perferendis hic. Fuga earum, qui ratione
                            tenetur omnis rerum autem aliquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
                            odit inventore quis at!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam odio et perspiciatis accusamus nesciunt
                            exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, vitae. Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Adipisci a, odio iusto illo laudantium unde ab doloribus.
                            Est optio corrupti saepe adipisci sit illo ipsum officia doloremque nemo! Et eos dolore eius doloremque
                            officia.
                        </p>
                    </div>
                    <div class="mp2_p1_tab_mission_title">Challenge</div>
                    <div class="mp2_p1_tab_mission_des mt-3">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa nisi quia consequuntur, ea magnam
                            similique ab obcaecati minima vitae eveniet beatae maiores quae necessitatibus fuga fugit.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, perferendis hic. Fuga earum, qui ratione
                            tenetur omnis rerum autem aliquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
                            odit inventore quis at!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam odio et perspiciatis accusamus nesciunt
                            exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, vitae. Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Adipisci a, odio iusto illo laudantium unde ab doloribus.
                            Est optio corrupti saepe adipisci sit illo ipsum officia doloremque nemo! Et eos dolore eius doloremque
                            officia.
                        </p>
                    </div>
                    <div class="mp2_p1_tab_mission_title">Document</div>
                    <div class="mp2_p1_tab_mission_des mt-3">
                        <div class="input-group mb-3">
                            <!-- <div class="input-group-prepend">
                                              <span class="input-group-text">Upload</span>
                                            </div> -->
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" multiple>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade mt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="mp2_p1_tab_mission_title">About us</div>
                    <div class="mp2_p1_tab_mission_des mt-3">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa nisi quia consequuntur, ea magnam
                            similique ab obcaecati minima vitae eveniet beatae maiores quae necessitatibus fuga fugit.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, perferendis hic. Fuga earum, qui ratione
                            tenetur omnis rerum autem aliquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
                            odit inventore quis at!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam odio et perspiciatis accusamus nesciunt
                            exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, vitae. Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Adipisci a, odio iusto illo laudantium unde ab doloribus.
                            Est optio corrupti saepe adipisci sit illo ipsum officia doloremque nemo! Et eos dolore eius doloremque
                            officia.
                        </p>
                    </div>
                </div>
                <div class="tab-pane fade mt-3" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="mp2_p1_tab_mission_title">Comments</div>
                    <div class="mp2_p1_tab_mission_des mt-3">
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa nisi quia consequuntur, ea magnam
                            similique ab obcaecati minima vitae eveniet beatae maiores quae necessitatibus fuga fugit.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, perferendis hic. Fuga earum, qui ratione
                            tenetur omnis rerum autem aliquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
                            odit inventore quis at!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam odio et perspiciatis accusamus nesciunt
                            exercitationem? Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, vitae. Lorem ipsum
                            dolor sit amet consectetur, adipisicing elit. Adipisci a, odio iusto illo laudantium unde ab doloribus.
                            Est optio corrupti saepe adipisci sit illo ipsum officia doloremque nemo! Et eos dolore eius doloremque
                            officia.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, perferendis hic. Fuga earum, qui ratione
                            tenetur omnis rerum autem aliquam? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia
                            odit inventore quis at!
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- main part-2 part-1 -->
        <!-- main part-2 part-2 -->
        <div class="col-xl-6 col-lg-6 col-md-6 mt-5 mp2_p2 d-flex flex-column">
            <div class="mp2_p2_info">
                <div class="border-bottom mt-3 px-4 mp2_p2_info_title">Information</div>
                <div class=" px-4 d-flex mt-3 border-bottom mp2_p2_info_skills">
                    <div>Skills</div>
                    <div>Cool, Easy going, Maths, Computer</div>
                </div>
                <div class=" px-4 d-flex mt-3 border-bottom mp2_p2_info_skills">
                    <div>Days</div>
                    <div>Weekend only</div>
                </div>
                <div class=" px-4 d-flex mt-3  mp2_p2_info_skills">
                    <div>Rating</div>
                    <div class="my-rating">
                        <i class=" bi bi-star-fill text-black-50 "></i>
                        <i class=" bi bi-star-fill text-black-50 "></i>
                        <i class=" bi bi-star-fill text-black-50 "></i>
                        <i class=" bi bi-star-fill text-black-50 "></i>
                        <i class=" bi bi-star-fill text-black-50 "></i>
                    </div>
                </div>
            </div>
            <div class="mp2_p2_recent mt-5">
                <div class="border-bottom mt-3 px-4 mp2_p2_recent_title">Recent Volunteeres</div>
                <div class="d-flex flex-column grid text-center mt-3 mp2_p2_recent_vol mx-4">
                    <div class="row mt-2">
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer1.png" class="rounded-circle" alt="">
                            <div>Andrew Johnson</div>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer2.png" class="rounded-circle" alt="">
                            <div>Charles Vigue</div>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer3.png" class="rounded-circle" alt="">
                            <div>Andrew Johnson</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer4.png" class="rounded-circle" alt="">
                            <div>Estella Fowles</div>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer5.png" class="rounded-circle" alt="">
                            <div>Rose Lewis</div>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer6.png" class="rounded-circle" alt="">
                            <div>Raymond Pabon</div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer7.png" class="rounded-circle" alt="">
                            <div>Travis Steen</div>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer8.png" class="rounded-circle" alt="">
                            <div>Sarah Santillan</div>
                        </div>
                        <div class="col-4 d-flex flex-column align-items-center">
                            <img src="~/images/volunteer9.png" class="rounded-circle" alt="">
                            <div>Linda Richards</div>
                        </div>
                    </div>
                </div>
                <div class="border-top px-4 text-center m-1 p-3 ">1 - 9 of 25 Recent Volunteers</div>
            </div>
        </div>
        <!-- end main part-2 part-2 -->
    </div>
</div>
<!-- end main part-2 -->
<hr class="hr_special" style=" z-index:-12; margin-right: 0.5%; margin-left: 1%;">
<!-- main part-3 -->
<div class="d-flex align-items-center justify-content-center mp3_related_text">Related Missions</div>
<div class="container">
    <div class="row ">
        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Toronto</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">Tree Canada</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                10 <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Melbourn</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Children</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Education supplies for Every Pair of Shoes Sold
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">Australian Paradise</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                250 <p>Already Volunteered</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100" src="~/images/Nourish-the-Children-in--African-country.png"
                         alt="" />
                    <div class="location-img">
                        <img class="text-light" src="~/images/pin.png" alt="">
                        <span class="text-light">Barcelona</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="~/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="~/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Nutrition</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Nourish the Children in African country
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">The Hunger</span>
                        <div class="rating">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/selected-star.png" alt="">
                            <img src="~/images/star.png" alt="">
                            <img src="~/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">Ongoing Oppertunity</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="~/images/Seats-left.png" alt="">
                            <span>
                                10 <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="~/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applybutton bg-white">
                            Apply <img src="~/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main part-3 -->
<!-- footer -->
<footer id="mission-footer" class="container-fluid border-top mt-5">
    <div class="py-4 mx-auto">
        <a href="#">Privacy Policy</a>
    </div>
</footer>