<header>

    <div class="container">
        <div class="demo d-flex flex-row justify-content-between">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link ms-lg-5" aria-current="page" href="#"> Stories </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle ms-lg-5" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Policy
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Volunteering</a></li>
                                    <li><a class="dropdown-item" href="#">Sponsored</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="d-flex justify-content-end mt-1 me-1">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <img src="~/images/user-img.png" class="rounded-circle" width="45" height="45">
                    Evan Donohue
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Dashboard</a></li>
                    <li><a class="dropdown-item" href="#">My Account</a></li>
                    <li><a class="dropdown-item" href="#">Help Center</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<hr class="m-0 p-0">