@{
    ViewData["Title"] = "Forgot Password Page ";
}

    <div class="row main">

        <partial name="carousal"/>

        <div class="login-details">
            <form>
                <h2 class="forgot-password" >Forgot Password</h2>
                <p class="sub-text email-suggest" >Enter your email address you've using for your account below and we will send you a password reset link</p>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email Address</label>
                    <input type="email" class="form-control InputField" aria-describedby="emailHelp"
                        placeholder="Enter your email address...">
                </div>
                <button type="submit" class="btn btn-primary"> Reset my Password</button>
                <div class="account">
                    <p class="sub-text"><a asp-area="" asp-controller="Account" asp-action="login" style="text-decoration:none">Login</a></p>

                </div>
                <div>
                    <p class="subline sub-text">Privacy Policy</p>
                </div>
            </form>
        </div>
    </div>
