@{
    ViewData["Title"] = "Reset Password Page ";
}
@model CI_Platform.entities.ViewDataModel.ResetPasswordViewModel

    <div class="row main">

       <partial name="carousal"/>

        <div class="login-details1">
            <form method="post" asp-action="ResetPassword">
                <h2 class="new-password" >New Password</h2>
                <p class="sub-text password-set" >Please enter a new password in the fields below.</p>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">New Password</label>
                    <input asp-for="Password" type="password" class="form-control InputField" aria-describedby="passwordHelp"
                        value="password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">confirm New Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control InputField" aria-describedby="passwordHelp"
                        value="password">
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
                <div class="account">
                    <p class="sub-text"><a asp-area="" asp-controller="Account" asp-action="login" style="text-decoration:none">Login</a></p>

                </div>
                <div>
                    <p class="subline1 sub-text">Privacy Policy</p>
                </div>
            </form>
        </div>
    </div>

     @section scripts{
        @{
            <partial name="_ValidationScriptsPartial"/>
        }
    }

